{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <h3><strong> Current request fields</strong></h3>
    <i> User email and full name is always included in any request and does not need
        to be added to this list </i>

    <ul>
        {% for field in fields %}
            <li><input class="btn btn-danger" type="button" value="remove"> {{ field.name }} </li>
        {% endfor %}
    </ul>
    {% if form %}
        <br>
        <h3> Add new field to the request process</h3>
        {{ f.render_form(form) }}
    {% endif %}
    <h3> Current request stages </h3>
    <ul>
        {% for stage in stages %}
            <li><input class="btn btn-danger" type="button" value="remove"> {{ stage.name }} </li>
        {% endfor %}
    </ul>
    <h3> Add new stage to the request process </h3>
    {{ f.render_form(stage_form) }}


{% endblock %}
