{% extends 'layouts/base.html' %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <th> Request ID</th>
            <th> Requestor</th>
            <th> Study</th>
            <th> Variables</th>
            <th> See Request</th>
        </tr>
        {% for request in requests %}
            <tr>
                <td> {{ request.id }}</td>
                <td> placeholder</td>
                <td> placeholder</td>
                <td> placeholder</td>
                <td> placeholder</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
