{% extends 'layouts/base.html' %}

{% block content %}
<div class="page-header"><h1> Selected study: {{ study_name }}</h1></div>
<caption>
    <p class="lead"><strong> Variable selection </strong></p>
</caption>

<div class="row">

    <div class="col-md-6">
        <button class="form-control" onclick="uncheckAll()">Un-check All</button>
    </div>
    <div class="col-md-6">
        <button class="form-control" onclick="checkAll()">Check all</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <input id="search_box" type="text" class="form-control" placeholder="Search ...">
    </div>
</div>

<div id="frmt" class="demo"></div>

<script>
    function checkAll  () {
        $('#frmt').jstree().select_all();
    };

    function uncheckAll () {
        $('#frmt').jstree().deselect_all();
    };

    var selectedVars = new Set();

    var _events = function () {
        $('#frmt')
            .on('select_node.jstree', function (e, data) {
                var selectedVar = data['node']['original']['tmVariable']['id'];
                var selectedDebug = data['node']['original']['tmVariable'];
                console.log(selectedDebug);
                selectedVars.add(selectedVar);
            })
            .on('deselect_node.jstree', function (e, data) {
                var selectedVar = data['node']['original']['tmVariable']['id'];
                console.log('deselected' + selectedVar);
                selectedVars.delete(selectedVar);
            })
            .on('deselect_all.jstree', function () {
                selectedVars = new Set();
            }).on('select_all.jstree', function (e, data) {
            var r = $('#frmt').jstree().get_selected(true);
            _.each(r, function (node) {
                var tmVar = node['original']['tmVariable'];
                if (tmVar !== undefined && tmVar !== null && node['original']['leaf'] === true) {
                    selectedVars.add(tmVar['id']);
                }
            });
            console.log(selectedVars);
        })
    };

    $('#frmt').jstree(
        {
            'core': {
                'data': {{ concept_tree|safe }}
            },
            'search': {
                'fuzzy': true,
                'show_only_matches': true
            },
            'plugins': ['checkbox', 'search']
        });

    var to = false;
    $('#search_box').keyup(function () {
        if (to) {
            clearTimeout(to);
        }
        to = setTimeout(function () {
            var v = $('#search_box').val();
            $('#frmt').jstree(true).search(v);
        }, 400);
    });
    _events();
</script>
{% endblock %}
