{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="page-header"><h2> Selected study: {{ study_name }}</h2></div>
    <h2> Request Status: {{ current_stage }}</h2>
    {% if form %}
        <caption>
            <p class="lead"><strong> Variable selection </strong></p>
        </caption>

        <div class="row">

            <div class="col-md-6">
                <button class="form-control" onclick="uncheckAll()">Un-check All</button>
            </div>
            <div class="col-md-6">
                <button class="form-control" onclick="checkAll()">Check all</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <input id="search_box" type="text" class="form-control" placeholder="Search ...">
            </div>
        </div>
    {% endif %}

    <div id="frmt" class="demo"></div>
    {% if form and not is_admin %}
        {{ f.render_form(form) }}
    {% endif %}
    {% if answers %}
        <table class="table table-bordered">
            <tr>
                <th> Field</th>
                <th> Answer</th>
            </tr>
            {% for answer in answers %}
                <tr>
                    <td> {{ answer.field.name }} </td>
                    <td> {{ answer.answer }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if is_admin and form %}
        {{ f.render_form(form) }}
    {% endif %}

    <script>
        function checkAll() {
            $('#frmt').jstree().select_all();
        };

        function uncheckAll() {
            $('#frmt').jstree().deselect_all();
        };

        var selectedVars = new Set();
        var populate_req_form = function (vars) {
            var varsArray = Array.from(vars);
            var serialized_vars = varsArray.join(',');
            document.getElementById('request_vars').value = serialized_vars;
        };
        var _events = function () {
            $('#frmt')
                .on('select_node.jstree', function (e, data) {
                    var selectedVar = data['node']['original']['tmVariable']['id'];
                    var selectedDebug = data['node']['original']['tmVariable'];
                    console.log(selectedDebug);
                    selectedVars.add(selectedVar);
                    populate_req_form(selectedVars);
                })
                .on('deselect_node.jstree', function (e, data) {
                    var selectedVar = data['node']['original']['tmVariable']['id'];
                    console.log('deselected' + selectedVar);
                    selectedVars.delete(selectedVar);
                    populate_req_form(selectedVars);
                })
                .on('deselect_all.jstree', function () {
                    selectedVars = new Set();
                    populate_req_form(selectedVars);
                }).on('select_all.jstree', function (e, data) {
                var r = $('#frmt').jstree().get_selected(true);
                _.each(r, function (node) {
                    var tmVar = node['original']['tmVariable'];
                    if (tmVar !== undefined && tmVar !== null && node['original']['leaf'] === true) {
                        selectedVars.add(tmVar['id']);
                    }
                });
                populate_req_form(selectedVars);
                console.log(selectedVars);
            })
        };

        $('#frmt').jstree(
            {
                'core': {
                    'data': {{ concept_tree|safe }}
                },
                'search': {
                    'fuzzy': true,
                    'show_only_matches': true
                },
                'plugins': ['checkbox', 'search']
            });

        var to = false;
        $('#search_box').keyup(function () {
            if (to) {
                clearTimeout(to);
            }
            to = setTimeout(function () {
                var v = $('#search_box').val();
                $('#frmt').jstree(true).search(v);
            }, 400);
        });
        _events();
    </script>
{% endblock %}
