<div class="page-header"><h1> Selected study: {{ studyname }}</h1></div>
<caption>
    <p class="lead"><strong> Variable selection </strong></p>
</caption>

<div class="row">

    <div class="col-md-6">
        <button class="form-control" ng-click="uncheckAll()">Un-check All</button>
    </div>
    <div class="col-md-6">
        <button class="form-control" ng-click="checkAll()">Check all</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <input id="search_box" type="text" class="form-control" placeholder="Search ...">
    </div>
</div>
<div class="row" ng-if="tree">
</div>
<div id="frmt" class="demo"></div>
<div class="row">
    <div ng-if="tmTree.length == 0">
        <div class="col-md-4">
            <i> No items match your search criteria ...</i>
        </div>
    </div>

</div>
<script>
    $scope.checkAll = function () {
        $('#frmt').jstree().select_all();
    };

    $scope.uncheckAll = function () {
        $('#frmt').jstree().deselect_all();
    };

    var _events = function () {
        $('#frmt')
            .on('select_node.jstree', function (e, data) {
                console.log('selected' + data['node']['original']['tmVariable']['varid']);
                $scope.selectedVars.add(data['node']['original']['tmVariable']['varid']);
            })
            .on('deselect_node.jstree', function (e, data) {
                console.log('deselected' + data['node']['original']['tmVariable']['varid']);
                $scope.selectedVars.delete(data['node']['original']['tmVariable']['varid']);
            })
            .on('deselect_all.jstree', function () {
                $scope.selectedVars = new Set();
            }).on('select_all.jstree', function (e, data) {
            var r = $('#frmt').jstree().get_selected(true);
            _.each(r, function (node) {
                var tmVar = node['original']['tmVariable'];
                if (tmVar !== undefined && tmVar !== null && node['original']['leaf'] === true) {
                    $scope.selectedVars.add(tmVar['varid']);
                }
            });
            console.log($scope.selectedVars);
        })
    };

    $('#frmt').jstree(
        {
            'core': {
                'data': d
            },
            'search': {
                'fuzzy': true,
                'show_only_matches': true
            },
            'plugins': ['checkbox', 'search']
        });

    var to = false;
    $('#search_box').keyup(function () {
        if (to) {
            clearTimeout(to);
        }
        to = setTimeout(function () {
            var v = $('#search_box').val();
            $('#frmt').jstree(true).search(v);
        }, 400);
    });

</script>
