{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<h2> Download empty codebook template for this study </h2>
    <a href="{{ url_for('data.codebook_generate', studyname=study.name) }}"> 
        <input type="button" class="ui button" value="Generate Template"> </a>

<h2> Load Codebook </h2>
{{ f.render_form(form) }}
    {% if validation_errors %}
        <div class="ui error message">
            <i class="close icon"></i>
            Codebook not applied
        </div>
    {% endif %}
{% for error in validation_errors  %}
        <div class="ui error message">
            <i class="close icon"></i>
            line: {{ error[0] }}: {{ error[1] }}
        </div>
{% endfor %}
{% if report %}
    <strong> Codebook applied </strong>
    Total number of variables: {{ report['total'] }} <br>
    With label: {{ report['labelled'] }} <br>
    Without label: {{ report['labelless'] }}
{% endif %}

<h2> Study Attachments </h2>
Attachments added on the study level will be added to the request after the final approval <br>
<a href="{{url_for('data.study_data_view', studyid=study.id)}}"> <input class="ui button" type="button" value="Configure Attachments"> </a>

{% endblock %}

